.redcontainer {
    width: 200px;
    height: 100px;
    background-color: red;
    position: relative;
}

.ycontainer {
    width: 200px;
    height: 100px;
    background-color: yellow;
    left: 250px;
    bottom: 116px;
    position: relative;
    
}


.gcontainer {
    width: 200px;
    height: 100px;
    background-color: green;
    position: relative;
    left: 500px;
    bottom: 232px;
}